/* PHASE 0: Sidebar */
.profile-picture a {
  display: block;
  background-color: blue;
  margin-top: -100px;
  position: relative;
  overflow: hidden;
}

.profile-info h1 {
    font-size: xx-large;
    font-weight: bold;
}

.online  {
  position: absolute;
  text-align: center;
  background-color: greenyellow;
  width: 120px;
  transform: rotate(-40deg) translateX(-30px) translateY(-14px);
}




.profile-picture img {
   
}

.profile-info {
    

}

.profile-nav {

}